.resultImage {
  cursor: pointer;
  border: 1px solid #ccc;
}

.settings {
  font-size: 30px;
}

.control span {
  font-size: 0.9em;
  margin-left: 4px;
  position: relative;
  top: -2px;
}
.control input[type="range"]::-webkit-slider-thumb {
  background: #00d1b2;
}
.icon {
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #aaa;
  font-size: 0.4em;
  cursor: help;
  font-weight: bold;
  color: #fff;
}
