body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.settings {
  font-size: 30px;
}

.control > span {
  font-size: 0.9em;
  margin-left: 4px;
  position: relative;
  top: -2px;
}

#decoder,
#encoder {
  display: none;
}

#decoder .progressBar {
  width: 208px;
}
#preview {
  transform: "scaleX(-1)";
  width: 800px;
}
#decoderResult {
  display: none;
}
#decoderMissingFrames {
  display: none;
}
#preview {
  transform: scaleX(-1);
}
#decoderResultDownload {
  display: none;
}

#encoderPlay {
  position: relative;
}

.encoderTimerWrapper {
  position: absolute;
  width: 100%;
  top: 20px;
}

#encoderPlayProgress .slider {
  width: 100%;
}

#encoderPlayProgress .control > span {
  position: absolute;
  top: -26px;
  right: 0;
}

.encodeColumnStart {
  flex-grow: 0;
}

#encoderFrame svg {
  display: block;
  border: 1px solid #dbdbdb;
}

#encoderProgress {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 50%;
  margin-top: -8px;
  width: auto;
  display: none;
}

#encoderStartSettings .columns {
  align-items: center;
}

.encoder-progress #encoderProgress {
  display: block;
}

.encoder-progress .columns {
  opacity: 0;
  pointer-events: none;
}

.decoderProgressBarWrapper {
  max-height: 100vh;
  overflow-y: scroll;
}
